.header {
  background-color: #007bff;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%; 
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 18px; 
  font-weight: bold;
}
.header h1 {
  margin: 0; 
  font-size: 30px; 
  font-weight: bold; 
}

