.sidebar {
  width: 80px; 
  background-color: #fff; 
  position: fixed;
  top: 64px; 
  left: 0;
  height: calc(100vh - 64px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-item {
  text-align: center;
  margin: 20px 0; 
}

.sidebar-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; 
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

.sidebar-item a:hover {
  color: #ffcc00; 
  transform: scale(1.1); 
}

.sidebar-item i {
  font-size: 24px; 
  margin-bottom: 5px; 
  color: white; 
  transition: transform 0.2s ease; 
}

.sidebar-item i:hover {
  color: #ffcc00; 
}
